section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
	text-align: center;
}
/* Hero Section */

#hero-image {
	width: 100%;
	height: auto;
}



section#hero p {
	width: 90%;
}

section#hero a {
	color: var(--clr-accent);
	width: 15vw;
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
section#hero a:hover {
	color: var(--clr-secondary);
}

section#hero a:active {
	color: var(--clr-primary);
}

section#hero a i {
	padding: 0.15rem;
	border-radius: 50%;
}

/* About Section */


section#about {
	display: grid;
	grid-template-rows: auto 1fr;
	width: min(90vw, 750px);
	margin: 0 auto;
}

section#about div#about-skills h5 {
	color: var(--clr-primary);
}

section#about div#about-skills ul {
	color: var(--clr-secondary-text);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	justify-content: center;
	margin: 0 auto;
}

section#about ul {
	list-style-type: none;
}


/* Contact Section */
section#contact {
	scroll-margin-top: 100px;
}

section#contact form {
	width: 75%;
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.5rem;
	font-size: var(--fs-h5);
	
}

section#contact div.contact-input-field {
	display: grid;
	text-align: left;
	margin-left: 1rem;

}

section#contact input, section#contact textarea {
	padding: 0.25rem;
	font-size: var(--fs-h6);
	border: none;
	border-radius: 5px;
	width: 95%;
	margin-right: auto;
	background-color: var(--clr-text75);
	color: var(--clr-bg);
}

section#contact div.contact-input-field textarea {
	height: 25vh;
}

section#contact form button {
	padding: 0.25rem;
	margin: 0 auto;
	background-color: var(--clr-accent);
	border: none;
	border-radius: 2px;
	font-size: var(--fs-h6);
}
section#contact form button:hover {
	background-color: var(--clr-secondary);

}

section#contact form button:active {
	background-color: var(--clr-primary);
}
section#contact div.contact-info-container {
	display: grid;
}

@media (min-width:900px) {
	
	section#contact div.contact-info-container {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;

	}

	section#contact div.contact-info-container h6 {
		grid-row: 1;
		grid-column: 2;
	}

	section#contact div.contact-info-container div.contact-info-item:first-of-type {
		grid-row: 2;
		grid-column: 1;
	}

	section#contact div.contact-info-container div.contact-info-item:last-of-type {
		grid-row: 2;
		grid-column: 3;
	}
	
}
