h1#projects-header {
	width: min(750px, 75%);
	text-align: center;
	margin: 0 auto;
	grid-row: 1;
	
}


section#projects-container {
	width: min(1050px, 90vw);
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	justify-items: space-around;
	align-items: center;
	gap: 1rem;
	margin: 0 auto;
}


section#projects-container article.project {
	height: 100%;
	overflow: hidden;
	border-radius: 10px;
	background-color: var(--clr-secondary75);
	color: var(--clr-black75);
	text-align: center;
	display: grid;
	grid-template-rows: auto 1fr;
}


section#projects-container article.project div.project-text {
	padding: 0.75rem;
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100%;

}

section#projects-container article.project h3 {
	color: var(--clr-black)
}

section#projects-container article.project div.project-image-container {
	width: 100%;
}

section#projects-container article.project img {
	width: 100%;
}

section#projects-container article.project a {
	margin-top: auto;
	margin-bottom: 1rem;
}

section#projects-container article.project a i {
	font-size: var(--fs-small);
}

@media (min-width:600px) {

	
	section#projects-container {
		grid-template-columns: repeat(2, 1fr);
	}
	h1#projects-header {
		grid-column: 1/span 2;
		
	}
	
}


@media (min-width:1000px) {

	
	section#projects-container {
		grid-template-columns: repeat(3, 1fr);
	}
	h1#projects-header {
		grid-column: 1/span 3;
		
	}
	/* Ensure all images are the same height so that everything lines up */
	section#projects-container article.project div.project-image-container {
		overflow: hidden;
		height: 20vh;
	}

	section#projects-container article.project img {
		object-fit: cover;
	}
	
}
